body {
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#main-container {
    background-color: #f5f5f5;
    box-shadow: 2px 2px 2px 2px #d3d3d3;
    margin: 10px auto;
    padding: 15px;
    width: 300px;
}

.center-img {
    border: 1px solid #d3d3d3;
    border-radius: 6px;
    display: block;
    margin: 0 auto;
    width: 300px;
}

 .container {
     background-color: #fcfcfc;
     border: 1px solid #d3d3d3;
     border-radius: 6px;
     margin: 15px auto;
     padding-left: 10px;
     width: 95%;
 }

.standout {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    color: #A24708;
    display: inline-block;
    margin-bottom: 15px;
    padding: 3px 5px 3px 5px;
}

.emphasis {
    font-weight: bold;
    font-variant: small-caps;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0:
    padding: 0;
}
